img {
  aspect-ratio: unset;
}

section {
  margin-bottom: 2rem;
}

.heading-container {
  display: grid;
  padding: 1rem 2rem;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "header-title nav";
}

.header-title {
  grid-area: header-title;
}

nav {
  grid-area: nav;
  margin-left: auto;
}

@media (max-width: 60em) {
  .heading-container {
    display: flex;
  }
  .mobile-nav-toggle {
    margin-left: auto;
  }
}

.primary-navigation {
  display: flex;
  gap: 2rem;
}

.primary-navigation a {
  color: hsl(var(--clr-dark));
}

@media (max-width: 60em) {
  .primary-navigation a {
    color: hsl(var(--clr-white));
  }
}

.main-container--home {
  padding: 5rem;
}

.section-container--home {
  max-width: 80rem;
  margin-inline: auto;
}

.main-container {
  padding: 2rem;
  max-width: 80rem;
  margin-inline: auto;
}

.section-container {
  max-width: 50rem;
  margin-inline: auto;
  padding: 2rem;
}

.featured-quizes > *,
.category-quizes > * {
  display: grid;
}

.bg-image {
  background-position: right top;
  object-fit: cover;
  aspect-ratio: 1.5/1;
  background-repeat: no-repeat;
  padding: 1rem;
}

.bg-image-space {
  background-image: url(images/space.jpg);
}

.bg-image-roads {
  background-image: url(images/roads.jpg);
}

.bg-image-mountains {
  background-image: url(images/mountains.jpg);
}

.bg-image-wildlife {
  background-image: url(images/wildlife.jpg);
}

.bg-image-beach {
  background-image: url(images/beach.jpg);
}

.bg-image-food {
  background-image: url(images/food.jpg);
}

.bg-image-art {
  background-image: url(images/art.jpg);
}

.bg-image-world {
  background-image: url(images/world.jpg);
}

.bg-image-biology {
  background-image: url(images/biology.jpg);
}

.quiz-name,
.category-name {
  padding: 1rem;
  width: 100%;
  display: block;
}

.category-name:hover {
  background: hsl(var(--clr-white) / 0.3);
}

.quiz-name:hover {
  background: hsl(var(--clr-dark) / 0.6);
  cursor: pointer;
}

.category-quizzes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.125rem;
}

.category-quizzes > * {
  width: 100%;
  height: 60vh;
  aspect-ratio: 1;
}

@media (max-width: 60em) {
  .category-quizzes {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .category-quizzes > * {
    height: 30vh;
  }
}

/* QUESTIONS */

.btn-goback,
.btn-next {
  padding: 0.5rem 1rem;
}

.quiz-question-no,
.end-game,
.quiz-results,
.quiz-score,
.timer {
  width: fit-content;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.quiz-results {
  margin: 0 0 5rem 0;
}

.bg-dark:hover {
  color: hsl(var(--clr-white));
}

.question {
  margin-bottom: 1rem;
}

.question-1-image {
  width: 100%;
}

.question-container {
  max-width: 20rem;
}

.quiz-question {
  max-width: 45rem;
  margin: 1rem;
  background: hsl(var(--clr-white) / 0.6);
  padding: 1rem;
  gap: 1rem;
}

.quiz-options {
  gap: 0.5rem;
  align-items: end;
  cursor: pointer;
}

.quiz-options > * {
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  border: 3px solid hsl(var(--clr-dark));
  height: fit-content;
  padding: 1rem;
}

.answer-options {
  background: none;
  border: none;
  padding: 0;
}

.quiz-options > *:active {
  transform: scale(1.1);
}

.answer-options:active {
  transform: none;
  cursor: default;
}

.results-section {
  max-width: 100%;
}

.correct-ans {
  background: hsl(var(--clr-green));
}

.incorrect-ans {
  background: hsl(var(--clr-red));
}

.end-game:hover {
  cursor: pointer;
}

@media (max-width: 60em) {
  .quiz-question {
    flex-direction: column;
    margin: 0;
  }
  .quiz-options {
    margin: 0;
  }
  .quiz-buttons {
    flex-direction: column;
  }
  .quiz-score,
  .timer,
  .end-game,
  .quiz-question-no {
    margin: 1rem 0;
  }
  .section-container {
    padding: 1rem 0 0 0;
  }
}
